@font-face {
  font-family: Aclonica;
  src: url("../fonts/Aclonica-Regular.woff2") format("woff2"),
    url("../fonts/Aclonica-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-size: cover;
  color: rgb(167, 73, 22);
  font-family: Aclonica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh;
}

header {
  background-color: rgba(134, 24, 24, 0.571);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
}

/* Reset some default styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}


header h1 {
  font-size: 36px;
}

/* Style the navigation menu */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 0;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: rgb(167, 73, 22);
  font-weight: bold;
  transition: color 0.3s;
  z-index: 9999;
}

nav a:hover {
  color: rgb(255, 0, 187);
  cursor: pointer !important;
}

/* Specific styles for the landing page */
body.landing-page {
  background-size: cover;
  color: rgb(255, 0, 195);
  font-family: Aclonica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 210px;
}

.page-links a {
  text-decoration: none;
  color: rgb(167, 73, 22);
  font-weight: normal;
  margin: 0 100px;
  font-size: 40px;
  transition: color 0.3s;
}

.page-links a:hover {
  color: rgb(255, 0, 195);
}

/* Style headings and links */
h2,
a {
  color: rgb(167, 73, 22);
}

/* Styles "Vincent Yu" if I were to make it a link */
h1>a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}


section {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.208);
  margin: 20px;
  border-radius: 5px;
  color: rgb(167, 73, 22);
}

footer {
  text-align: center;
  background-color: rgba(134, 24, 24, 0.571);
  color: #fff;
  padding: 10px 0;
}

.portfolio-item {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.portfolio-item:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Define a CSS class to style your image */
.headshot {
  max-width: 600px;
  height: 800px;
}

/* make the background image more opaque */
.demo-wrap {
  position: relative;
  height: 100%;
}

.demo-wrap::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.20;
  background-image: url('../images/world-background.jpeg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  pointer-events: none;
}

.demo-content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  padding-top: 200px;
}

.demo-wrap footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
}

/* for the Javascript made button */
button {
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: 1px none #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: rgb(255, 0, 187);
  color: #fff;
}

/* Add the following styles for logo alignment for Stats Page */
.contact-buttons {
  display: flex;
  justify-content: center;
}

.contact-buttons a {
  margin: 0 100px;

  /* Adjust the margin as needed for spacing */
}

.contact-buttons img {
  max-width: 100px;

  /* Adjust the max-width as needed */
  height: auto;
}